/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    font-size: 16px;
    color-scheme: light;
}

.fa-solid {
    color: var(--main-color);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
}

/*** Header ***/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    padding: 0 50px;
}

header img {
    align-self: center;
    width: 61px;
    height: 19px;
}

header nav {
    display: flex;
    gap: 68px;
}

header nav a {
    text-transform: none;
    flex: 1;
    height: 36px;
    align-content: center;
    font-size: 16px;
    padding-top: 16px;

    &:hover {
        border-top: 2px solid var(--main-color);
        color: var(--main-color);
    }
}

/*** Info Group ***/
.info-group {
    padding: 20px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-group .headline h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}


/*** Search bar ***/
.search-bar {
    background-color: #fff;
    display: flex;
    border-radius: 15px;

    >span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px !important;
        height: 50px !important;
        padding: 15px;
        background-color: var(--main-bg-color);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    input {
        background: transparent;
        border: none;
        outline: none;
        font-weight: 700;
        width: calc(min(100%, 380px) - 50px - 50px);
        font-size: 18px;
        padding: 0 20px;
        height: 50px;
        border-top: 2px solid var(--main-bg-color);
        border-bottom: 2px solid var(--main-bg-color);
    }

    button {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
        color: #fff;
        outline: none;
        height: 50px;

        font-weight: 700;
        font-size: 18px;
        padding: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        cursor: pointer;

        >span:first-child {
            display: none;
        }
    }
}

/** Filters Box ***/
.filters-box h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.filters-box .filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-item {
    padding: 5px 20px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;

    span {
        margin-right: 10px;
    }
}

.filter-item:hover,
.filter-item:focus {
    background-color: var(--filter-bg-color);
}


/** Info Bar **/
.info-group .info-bar {
    display: flex;
    align-items: center;
    gap: 20px;

    .info-icon {
        border: 1px solid var(--main-bg-color);
        border-radius: 100%;
        width: 24px !important;
        height: 24px !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    p {
        flex: 1;
    }
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards>a {
    flex: 1 !important;
    min-width: calc(33% - 30px) !important;
}

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 124px;
    width: 100%;
    border: 5px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card .card-content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.afficher-plus-text {
    font-weight: 700;
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row !important;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards a:last-child .card-rating {
    margin-bottom: 0px;
}

.activites {
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
    padding: 0 50px;

}

.activites-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activites-cards a {
    width: 25%;
}

.activites-cards .card {
    border-radius: 20px;
    padding: 0;

}

.activites-cards img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card .card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
}

footer {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 50px;
}

footer section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    header nav a[href="#hebergements"] {
        border-top: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .info-group {
        padding: 20px 50px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        padding: 0 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        padding: 0 30px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    header {
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid var(--main-bg-color);
        padding: 0;
    }

    header img {
        margin: 30px 0;
    }

    header nav {
        width: 100%;
        gap: 0;
        padding: 0;

    }

    header nav a {
        flex: 1;
        text-align: center;
        text-transform: none;
        flex: 1;
        height: 36px;
        align-content: center;
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 16px;

        &[href="#hebergements"] {
            border-top: 0;
            border-bottom: 2px solid var(--main-color);
            color: var(--main-color);
        }

        &:hover {
            border-top: 0 !important;
        }
    }

    .search-bar button {

        width: 50px;
        height: 50px;
        border-radius: 15px;
        padding: 15px;

        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);

        span:first-child {
            display: block !important;
            color: #fff;
        }

        span:not(:first-child) {
            display: none;
        }
    }

    .info-group {
        padding: 20px;
        margin-top: 30px;
    }

    .filter-item {
        padding: 0 15px;
        width: calc(50% - 10px);
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires-cards,
    .hebergements {
        flex-direction: column;
    }

    .hebergements {
        background-color: #fff !important;
    }

    .hebergements-and-populaires .populaires-cards,
    .hebergements-and-populaires .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-and-populaires .populaires-cards a {
        width: 100% !important;
    }

    .activites-cards {
        flex-direction: column;
    }

    .activites-cards a {
        width: 100% !important;
    }

    .activites-cards .card img {
        height: 140px !important;
    }

    footer {
        padding: 20px;
        flex-direction: column;
    }
}